/* Use a more intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
* {
	margin: 0;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

/* Add accessible line-height and improved text rendering */
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Imporove media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

header {
	height: 75px;
	margin-bottom: 32px;
	border-bottom: 1px solid grey;
	background-color: antiquewhite;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	height: 100%;
}

button {
	background-color: darkorange;
	padding: 8px 16px 8px 16px;
	border-radius: 4px;
	border-style: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

ul {
	padding: 0 16px 0 16px;
}

li {
	list-style: none;
}

.home-page {
	text-align: center;
}

.home-page h1 {
	margin-bottom: 8px;
}

.home-page p {
	margin-top: 8px;
	padding-left: 16px;
	padding-right: 16px;
}

.menu-page h1 {
	text-align: center;
	margin-bottom: 8px;
}

.menu-item {
	margin-bottom: 8px;
}

.menu-item span {
	font-style: italic;
}

.menu-item h4 {
	text-decoration: underline;
	text-underline-offset: 4px;
}

.about-page {
	text-align: center;
}

.about-page h1 {
	margin-bottom: 8px;
}

.about-page p {
	padding: 0 16px 0 16px;
}
